.HeaderLogo {
    width: 120px;
    height: 120px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.HeaderLogo a img {
    max-width: 120px;
    max-height: 120px;
}
